---
import Layout from '@/src/layouts/Layout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---

<Layout>
  <h1>Astro</h1>

  <p class="my-4">Blog posts:</p>
  <ul class="list-inside list-disc">
    {
      posts.map((post) => (
        <li>
          <a class="underline" href={`/blog/${post.id}`}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
