---
import Layout from '@/src/layouts/Layout.astro';
import { getCollection } from 'astro:content';
//const posts = await getCollection('posts');
let posts = await getCollection('posts');

posts = posts
  .slice(-4)
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
  );
---

<Layout>
  <h1>JFC's Astro Blog</h1>

  <p class="my-4">Blog posts:</p>
  <ul class="list-inside list-disc">
    {
      posts.map((post) => (
        <li>
          <a class="underline" href={`/blog/${post.id}`}>
            {post.data.title}
          </a>
          <span>({post.data.date.toLocaleDateString()})</span>
        </li>
      ))
    }
  </ul>
  <p class="py-4">
    <a class="underline" href={'/blog/page/1'}> See all posts ▶︎ </a>
  </p>
</Layout>
