---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
const { frontmatter, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={frontmatter?.description
        ? frontmatter.description
        : 'Awesome blog from JFC'}
    />
    <title>{title}</title>
    <style is:global>
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
      }
    </style>
    <ClientRouter />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="JFC most cool blog"
      href="/rss.xml"
    />
  </head>
  <body class="p-5">
    {
      Astro.url.pathname !== '/' && (
        <p class="py-4">
          <a class="underline" href={'/'}>
            ◀︎ Back to the homepage
          </a>
        </p>
      )
    }

    {frontmatter?.title && <h1>{frontmatter.title}</h1>}
    <slot />
  </body>
</html>
